<!doctype html>
<html lang="pt" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="nnelas">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>O Sporting já é campeão?</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="static/css/sticky-footer.css" rel="stylesheet">


</head>
<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="navbar-collapse w-100">
        <span class="navbar-nav ms-auto me-3"><a href="https://www.youtube.com/watch?v=FntO_hUzLco" target="_blank">um dia, quando os astros se alinharem</a></span>
    </div>
</nav>

<!-- Begin page content -->
<main class="mt-5">
    <div class="container-fluid px-0">
        <figure class="text-center">
            <h1 class="display-2 fw-bold mt-5">hoje,
                <mark>{{ date_string }}</mark>
                ,
            </h1>
            <h1 class="display-1 fw-bold mt-5">o sporting
                <mark>{{ is_champ_string }}</mark>
                é campeão.
            </h1>
        </figure>
    </div>
    <div class="container mt-5">
        <p class="lead">Classificação</p>
        <p>TBD</p>
        <p class="lead">Próximos jogos</p>
        <p>TBD</p>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <a href="https://github.com/nnelas" class="link-success"><i class="fa fa-github" style="font-size:24px"></i></a>
        <a href="https://www.linkedin.com/in/nuno-nelas/" class="link-success"><i class="fa fa-linkedin-square"
                                                                                  style="font-size:24px"></i></a>
        <span class="text-muted">inspirado no site <a href="https://isthesqueezesquoze.com/" class="link-success">is the squeeze squoze</a></span>
    </div>
</footer>
</body>
</html>